section.section-details > p {
  margin-bottom: 15px;
}

.title-description {
  margin-bottom: calc(1vw + 20px);
  font-size: calc(1vw + 16px);
  color: #e05514;
}

.date {
  font-size: calc(0.5vw + 12px);
  font-weight: 500;
}

.main-temp {
  margin-bottom: 10px;
  font-size: calc(0.5vw + 20px);
}

section.temp-section {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}