.div-days h4 {
  font-size: calc(1vw + 12px);
  font-weight: 600;
  color: #e05514;
}

.div-img-forecast {
  width: calc(2vw + 60px);
  margin: auto;
}

.div-img-forecast img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .div-img-forecast {
    margin: 0 auto;
    width: 50px;
  }

  .div-days {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-width: 250px;
    width: 60vw;
  }

  .div-days--description {
    margin-left: 10px;
  }

  .left-details {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 450px) {
  .div-days {
    width: 75vw;
  }
} 