section.forecast-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 13px;
}

section.forecast-section > * {
  flex-basis: 100px;
}

section.forecast-section::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #e05514;
  width: 40%;
  top: -35px;
  left: 30%;
  border-radius: 20px;
}

@media screen and (max-width: 925px) {
  section.forecast-section {
    flex-direction: column;
    margin-bottom: 10px;
  }

  section.forecast-section > * {
    margin-top: 0px;
  }

  section.forecast-section > * {
    flex-basis:0;
  }
}

@media screen and (max-height: 575.98px) and (orientation: landscape) {
  section.forecast-section::after {
    content: none;
  }
  section.forecast-section { 
    flex-grow: 1;
    gap: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
