section.forecast-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 13px;
}

section.forecast-section::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #e05514;
  width: 40%;
  top: -35px;
  left: 30%;
  border-radius: 20px;
}

@media screen and (max-width: 850px) {
  section.forecast-section {
    flex-direction: column;
    margin-bottom: 10px;
  }

  section.forecast-section > * {
    margin-top: 0px;
  }
}
