section.forecast-section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 60vw;
  margin: 0 auto;
}

section.forecast-section::after {
  position: absolute;
  content: '';
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.42);
  width: 35%;
  top: -25px;
}
