.error-page {
  margin-top: 50px;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
}

.error-page h1 {
  margin-bottom: calc(0.5vw + 10px);
  font-size: calc(1vw + 30px);
  color: #ff703d;
}

.error-page p {
  margin-bottom: calc(0.5vw + 20px);
  font-size: calc(1vw + 15px);
}

.emoji {
  color: #ff703d;
}

.error-page button {
  font-size: 22px;
  padding: 5px;
  width: 273px;
  background-color: #ff703d;
  border: none;
  border-radius: 3px;
  color: white;
  transition: transform 0.05s;
  cursor: pointer;
}

.error-page button:hover {
  transform: scale(1.03);
}
