.div-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.div-links ul li a {
  text-decoration: none;
  border-radius: 30px;
  color: white;
}

.div-links ul li {
  background-color: #8c8c8e;
  padding: 5px;
  flex-grow: 1;
  width: 125px;
  border-radius: 10px;
}

.div-links ul li:hover {
  background-color: #bebebe;
  cursor: pointer;
}