.input-container {
  margin-left: 15px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.input-container--focus {
  border: 1.5px solid #8c8c8e;
}

.input-container * {
  height: 100%;
}

.input-container input {
  font-size: 18px;
  flex-grow: 1;
  padding: 4px;
  outline: none;
  border: none;
  border-radius: 2px 0 0 2px;
}

.input-container button {
  font-size: 17px;
  color: white;
  background-color: #8c8c8e;
  padding: 1px;
  border: none;
  border-radius: 0 2px 2px 0
}

.input-container button:hover {
  background-color: #bebebe;
  cursor: pointer;
}

.input-container span {
  background-color: white;
  padding: 4.5px;
  padding-right: 5px;
  color: rgb(224, 85, 20);
}

.input-container span:hover {
  cursor: pointer;
}

.search-icon {
  font-size: smaller;
} 

@media screen and (max-width: 750px) {
  .input-container {
    margin-left: calc(2vw + 5px);
  }
}

@media screen and (max-Width: 450px) {
  .input-container {
   margin: auto;
   flex-grow: 1;
  }

  .input-container * {
    height: 90%;
  }
}