.nav {
  display: flex;
  align-items: center;
  background-color: rgb(224, 85, 20);
  padding: 4px 60px;
  gap: 20px;
  height: calc(1vw + 50px);
}

@media screen and (max-Width: 450px) {
  .nav {
    gap: 0;
    padding: 0 30px;
  }
}

@media screen and (min-device-width: 480px) and (min-device-width: 640px) and (max-width: 768px) {
  .nav {
    height: 45px;
  }
}